html
  head
      title TE Demo
  body
    h3 BT Family SIM
    ul
      li
        a(href="/allocatie-sim?sim=1") SIM 1
      li
        a(href="/allocatie-sim?sim=2") SIM 2
      li
        a(href="/allocatie-sim?sim=3") SIM 3
      li
        a(href="/allocatie-sim?sim=4") SIM 4
      li
        a(href="/allocatie-sim?sim=5") SIM 5